<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DevOps Performance</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subscriptions">
                <span class="oi"><img class="nav-img" src="icons/subscriptions.svg" /></span> Subscriptions
            </NavLink>
            <NavLink class="nav-link" href="pipelines">
                <span class="oi"><img class="nav-img" src="icons/azure-pipelines.svg" /></span> Pipelines
            </NavLink>
            <NavLink class="nav-link" href="serverlesssqlcalculator">
                <span class="oi"><img class="nav-img" src="icons/sql-database.svg" /></span> Sql Calculator
            </NavLink>
            <hr style="color:white;"/>
            <NavLink class="nav-link" href="account">
                <span class="oi oi-lock-locked"></span> Account
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
